/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
.map-canvas {
  height: 70vh;
  width: 80vw;
  border-style: solid;
  border-width: 5px;
  border-color: aliceblue ;
  border-radius: 25px;
}

.kid_pic{
  width: 70px;
}

.kid-name{
  display: block;
  font-weight: 100;
  color: #000;
}


#container {
  height: 100%;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  
  /* margin-bottom: 100px; */
}

.places-container{
  position: absolute;
  top: 10px;
  left: 50px;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.input-card {
  margin: a;
}

.navigation {
  margin: auto;
  padding: auto;
  padding-bottom: 20px;
  
}

#mapVisualize {
  margin: auto;
  margin-top: 250px;
  padding: 10px;
}

.bigBox {
  display: grid;
  margin: 20px;
  grid-template-columns: 0.5fr 0.5fr;
}


.googleMap {
  padding: 10px;
  margin: 10px;
}

.checkbox-row {
  display: flex;
  gap: 0px;
  margin: auto;
}

.logo-img{
  width: 320px;
  border: 0px;
  border-radius: 10px;
}

/* #type1{
  
} */